.add-note input {
    height: 30px;
    width: 60%;
    bottom: 0;
    padding: 0;
}

.add-note button {
    /* line-height: 2rem; */
    height: 34px;
    width: 15%;
    bottom: 0;
    padding: 0;
    background-color: green;
    color: white;
}

.add-note select {
    /* line-height: 2rems; */
    height: 34px;
     width: 20%;
    bottom: 0;
    padding: 0;
}